*.class

# Package Files #
*.dex
*.war
*.ear
*.apk
bin/
gen/
release/
build/
.metadata/
.gradle/
.idea/
*.project
.DS_Store
target/

*.iml
# Ignore local config only
local.properties
app/app.iml

*.mdbuild/
captures/
